{% if not is_granted('ROLE_RECEIVING_ACCOUNT') %}
<div class="row pt-4">
    <div class="col-12 text-center">
        {{ form_label(form.previous) }}
        {{ form_widget(form.previous, { 'attr': {'class': 'btn-navy btn-navigation'} }) }}
        {{ form_label(form.save) }}
        {{ form_widget(form.save, { 'attr': {'class': 'btn-xl btn-primary dark'} }) }}
        {{ form_label(form.next) }}
        {{ form_widget(form.next, { 'attr': {'class': 'btn-navy btn-navigation'} }) }}
    </div>
</div>
{% endif %}