{% extends 'base.html.twig' %}

{% block content %}
    <main>
        <div class="container">
        <section class="section-heading section-top text-center">
            <h1>Welcome, {{ app.user.firstName }}!</h1>
            <div class="img-fluid text-center pt-4">
                <img src="{{ asset('images/upt-logo.png') }}">
            </div>
            <h2 class="pt-4">UPT Erasmus Application</h2>
        </section>
        </div>
    </main>
{% endblock %}