{% extends '@Admin/admin_base.html.twig' %}

{% block content %}
    <main>
        <div class="container">
            <section class="section-heading section-top">
                {% for flash_message in app.session.flashbag.get('warning') %}
                    <div class="alert alert-primary text-center">
                        {{flash_message|raw}}
                    </div>
                {% endfor %}
                <h1>UPT Persons</h1>
                <a class="btn btn-primary" href="{{ path('admin_university_persons_new') }}"><i class="fas fa-plus-circle"></i> New person</a>
            </section>
            <section class="section-bottom">
                <div class="learning-agreements table-list row">
                    <div class="table-responsive col-12">
                        <table class="table table-hover mx-auto text-center">
                            <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Phone Number</th>
                                <th scope="col">Position</th>
                                <th scope="col">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for person in universityPersons %}
                            <tr>
                                <td>{{ person.id }}</td>
                                <td>{{ person.name }}</td>
                                <td>{{ person.email }}</td>
                                <td>{{ person.phoneNumber }}</td>
                                <td>{{ person.position }}</td>
                                <td>
                                    <a href="{{ path('admin_university_persons_edit', {'institutionPerson' : person.id}) }}">Edit</a>
                                    <a href="{{ path('admin_university_persons_delete', {'institutionPerson' : person.id}) }}">Remove</a>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </main>
{% endblock %}