{% set route = app.request.attributes.get('_route') %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}UPT - Erasmus Application{% endblock %}</title>
    {% block stylesheets %}
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('css/jquery-ui.min.css') }}" rel="stylesheet">
        <link href="{{ asset('css/app.css') }}" rel="stylesheet">

        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
        <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    {% endblock %}
    <link rel="icon" type="image/png" href="{{ asset('images/favicon.png') }}" />
</head>
<body id="page-top">
<header class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container-fluid">
        <a class="navbar-brand js-scroll-trigger" href="{{ path('homepage') }}">
            <img src="{{ asset('images/upt-logo.png') }}" class="d-inline-block" width="50" alt="Erasmus application"> <span>Erasmus Application <i class="fas fa-shield-alt text-primary" title="Administration"></i></span>
        </a>
        <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar top-bar"></span>
            <span class="icon-bar middle-bar"></span>
            <span class="icon-bar bottom-bar"></span>
        </button>
        <div class="collapse navbar-collapse text-center" id="navbarResponsive">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger{% if route starts with 'admin_homepage' %} active-link{% endif %}" href="{{ path('admin_homepage') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger{% if route starts with 'admin_institutions' %} active-link{% endif %}" href="{{ path('admin_institutions') }}">Institutions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger{% if route starts with 'admin_university_persons' %} active-link{% endif %}" href="{{ path('admin_university_persons') }}">University Persons</a>
                </li>
            </ul>
        </div>
        <div class="dropdown user-data">
            <button class="btn-dropdown dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span>{{ app.user.firstName }} {{ app.user.lastName }}</span> <img src="{{ asset('images/profile-photo-test.jpg') }}" class="d-inline-block rounded-circle" width="25" alt="Profile photo">
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <div class="dropdown-user">
                    <div class="row">
                        <div class="col-12">
                            <img src="{{ asset('images/profile-photo-test.jpg') }}" class="d-inline-block rounded-circle" width="50" alt="Profile photo">
                        </div>
                        <div class="dropdown-user-data col-12">
                            <p class="dropdown-user-name">{{ app.user.firstName }} {{ app.user.lastName }}</p>
                            <p class="dropdown-user-email">{{ app.user.email }}</p>
                            <p class="dropdown-user-role">{% if app.user.accountType %}{{ app.user.accountType.accountTypeName }}{% endif %}</p>
                        </div>
                    </div>
                </div>
                <div class="divider"></div>
                <a class="dropdown-item" href="{{ path('homepage') }}">Leave Administration</a>
                <a class="dropdown-item" href="#">Edit Profile</a>
                <a class="dropdown-item" href="{{ path('fos_user_security_logout') }}">Logout</a>
            </div>
        </div>
    </div>
</header>
{% block content %}

{% endblock %}
<footer class="footer">
    <div class="container text-center">
        <span class="text-muted">©2018 Universidade Portucalense</span>
    </div>
</footer>
{% block javascripts %}
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('js/jquery.easing.min.js') }}"></script>
    <script src="{{ asset('js/popper.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/app.js') }}"></script>
    <script>
        FontAwesomeConfig = { searchPseudoElements: true };
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
{% endblock %}
</body>
</html>
