{% extends 'base.html.twig' %}

{% block content %}
    <main>
        <div class="container">
            <section class="section-top">
                {%  include ':learning-agreements/during-mobility:timeline_during.html.twig' %}
            </section>
            <section class="section-bottom">
                {% if learningAgreement.duringMobilitySection.isSignedByStudent %}
                <h2>Student's Commitment</h2>
                {% if studentSignature %}
                    <p>Signature {% if learningAgreement.duringMobilitySection.studentSignature.isDigital %}(digital){% else %}(uploaded){% endif %}:
                    </p>
                    <div class="row">
                        <div class="col-12 signature border-dark">
                            <img width="200" src="{{ asset('images/signatures/' ~ learningAgreement.id ~ '/' ~ learningAgreement.duringMobilitySection.getStudentSignature.filename ~ '.png') }}" class="img-fluid">
                        </div>
                    </div>
                    <div class="row pt-4">
                        <div class="col-12">
                            <span>Signature time: {{ learningAgreement.duringMobilitySection.studentSignature.signedAt|date('d-m-Y H:i') }}</span>
                        </div>
                    </div>
                {% endif %}
                {% if sendingSignature and learningAgreement.duringMobilitySection.isSignedBySending %}
                    <section>
                        <h2>Approval by Sending institution</h2>
                        <small>{{ learningAgreement.sendingInstitution.institution.name }}</small>
                        <p>Signature {% if learningAgreement.duringMobilitySection.sendingSignature.isDigital %}(digital){% else %}(uploaded){% endif %}:
                        </p>
                        <div class="row">
                            <div class="col-12 signature border-dark">
                                <img width="200" src="{{ asset('images/signatures/' ~ learningAgreement.id ~ '/' ~ learningAgreement.duringMobilitySection.sendingSignature.filename ~ '.png') }}" class="img-fluid">
                            </div>
                        </div>
                        <div class="row pt-4">
                            <div class="col-12">
                                <span>Signature time: {{ learningAgreement.duringMobilitySection.sendingSignature.signedAt|date('d-m-Y H:i') }}</span>
                            </div>
                        </div>
                    </section>
                {% endif %}
                <section>
                    <h2>Approval by Receiving institution</h2>
                    <small>{{ learningAgreement.receivingInstitution.institution.name }}</small>
                    {% if not learningAgreement.duringMobilitySection.isSignedByReceiving %}
                        <div class="row">
                            <div class="col-12 pt-2 pb-3">
                                <a href="{{ path('learning_agreement_during_mobility_approval_receiving_signature_digital', {'learningAgreement' : learningAgreement.id }) }}" class="btn btn-navy">Sign online</a>
                                <a href="{{ path('learning_agreement_during_mobility_approval_receiving_signature_upload', {'learningAgreement' : learningAgreement.id }) }}" class="btn btn-navy">Upload image</a>
                            </div>
                        </div>
                    {% endif %}
                    {% if receivingSignature %}
                        <p>Signature {% if learningAgreement.duringMobilitySection.receivingSignature.isDigital %}(digital){% else %}(uploaded){% endif %}:
                        </p>
                        <div class="row">
                            <div class="col-12 signature border-dark">
                                <img width="200" src="{{ asset('images/signatures/' ~ learningAgreement.id ~ '/' ~ learningAgreement.duringMobilitySection.receivingSignature.filename ~ '.png') }}" class="img-fluid">
                            </div>
                        </div>
                        <div class="row pt-4">
                            <div class="col-12">
                                <span>Signature time: {{ learningAgreement.duringMobilitySection.receivingSignature.signedAt|date('d-m-Y H:i') }}</span>
                            </div>
                        </div>
                    {% endif %}
                </section>
                {% if receivingSignature and is_granted('sign', learningAgreement.duringMobilitySection) %}
                    <div class="row pt-4">
                        <div class="col-12 text-center">
                            <small>NOTE: After you approve these changes you will not be able to change your signature.</small>
                        </div>
                    </div>
                    <div class="row pt-4">
                        <div class="col-12 text-center">
                            {{ form_start(form) }}
                            {{ form_label(form.save) }}
                            {{ form_widget(form.save, { 'attr': {'class': 'btn-xl btn-primary dark'} }) }}
                            {{ form_end(form) }}
                        </div>
                    </div>
                {% endif %}
                <div class="row">
                    <div class="col-12 text-center mt-2">
                        <a href="{{ path('learning_agreement_during_mobility_changes', { 'learningAgreement': learningAgreement.id }) }}" class="btn btn-navy">Previous</a>
                    </div>
                </div>
            </section>
            {% endif %}
        </div>
    </main>
{% endblock %}