{% extends 'base.html.twig' %}
{% block content %}
    <main>
        <div class="container">
            <section class="section-top">
                {%  include 'learning-agreements/during-mobility/timeline_during.html.twig' %}
            </section>
            <section class="section">
                <div class="bg-lighter-grey">
                    <div class="components-wrapper p-3">
                        <p><i class="fas fa-table highlight"></i> TABLE A2 - DURING THE MOBILITY: EXCEPTIONAL CHANGES TO TABLE A</p>
                        <p><small><i class="fas fa-university highlight"></i> {{ learningAgreement.receivingInstitution.institution.name }}</small></p>
                        {% if is_granted('edit', learningAgreement.duringMobilitySection) %}
                        <div class="row">
                            <div class="col-12 mb-3">
                                <a class="btn btn-primary" href="{{ path('learning_agreement_during_mobility_component_new', { 'learningAgreement': learningAgreement.id, 'role': 'receiving' }) }}"><i class="fas fa-plus-circle"></i> Add subject</a>
                            </div>
                        </div>
                        {% endif %}
                        <div class="components table-list row">
                            <div class="table-responsive col-12">
                                <table class="table table-hover mx-auto text-center">
                                    <thead>
                                    <tr>
                                        <th scope="col">Component code</th>
                                        <th scope="col">Component title</th>
                                        <th scope="col">Is Deleted</th>
                                        <th scope="col">Is Added</th>
                                        <th scope="col">Reason for change</th>
                                        <th scope="col">Semester</th>
                                        <th scope="col">ECTS</th>
                                        {% if is_granted('edit', learningAgreement.duringMobilitySection) %}
                                        <th scope="col">Actions</th>
                                        {% endif %}
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="bg-grey text-uppercase"><td><small>Before mobility </small><br><i class="fas fa-angle-down"></i></td></tr>
                                    {% for component in receivingComponents.before %}
                                        <tr>
                                            <td>{% if component.educationalComponent %}{{ component.educationalComponent.componentCode }}{% endif %}</td>
                                            <td>{% if component.educationalComponent %}{{ component.educationalComponent.componentTitle }}{% endif %}</td>
                                            {% if component.isDeleted %}<td class="text-color-green"><i class="fas fa-lg fa-check"></i></td>{% else %}<td class="text-color-red"><i class="fas fa-lg fa-times"></i></td>{% endif %}
                                            {% if component.isAdded %}<td class="text-color-green"><i class="fas fa-lg fa-check"></i></td>{% else %}<td class="text-color-red"><i class="fas fa-lg fa-times"></i></td>{% endif %}
                                            <td>{{ component.reason }}</td>
                                            <td>{% if component.educationalComponent %}{{ component.educationalComponent.semester }}{% endif %}</td>
                                            <td>{% if component.educationalComponent %}{{ component.educationalComponent.ectsCredits }}{% endif %}</td>
                                            {% if is_granted('edit', learningAgreement.duringMobilitySection) %}
                                            <td>
                                                {% if component.isDeleted %}
                                                    <a class="btn btn-sm btn-primary" href="{{ path('learning_agreement_during_mobility_component_toggle_deleted', { 'learningAgreement': learningAgreement.id, 'selectedComponent': component.id }) }}">Unset deleted</a>
                                                {% else %}
                                                    <a class="btn btn-sm btn-primary" href="{{ path('learning_agreement_during_mobility_changes_component_detail', { 'learningAgreement': learningAgreement.id, 'selectedComponent': component.id }) }}">Set as deleted</a>
                                                {% endif %}
                                            </td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                    {% if receivingComponents.during|length > 0 %}
                                        <tr class="bg-grey text-uppercase"><td><small>During mobility </small><br><i class="fas fa-angle-down"></i></td></tr>
                                        {% for component in receivingComponents.during %}
                                                <tr>
                                                    <td>{% if component.educationalComponent %}{{ component.educationalComponent.componentCode }}{% endif %}</td>
                                                    <td>{% if component.educationalComponent %}{{ component.educationalComponent.componentTitle }}{% endif %}</td>
                                                    {% if component.isDeleted %}<td class="text-color-green"><i class="fas fa-lg fa-check"></i></td>{% else %}<td class="text-color-red"><i class="fas fa-lg fa-times"></i></td>{% endif %}
                                                    {% if component.isAdded %}<td class="text-color-green"><i class="fas fa-lg fa-check"></i></td>{% else %}<td class="text-color-red"><i class="fas fa-lg fa-times"></i></td>{% endif %}
                                                    <td>{{ component.reason }}</td>
                                                    <td>{% if component.educationalComponent %}{{ component.educationalComponent.semester }}{% endif %}</td>
                                                    <td>{% if component.educationalComponent %}{{ component.educationalComponent.ectsCredits }}{% endif %}</td>
                                                    {% if is_granted('edit', learningAgreement.duringMobilitySection) %}
                                                    <td>
                                                        <a href="{{ path('learning_agreement_during_mobility_changes_component_detail', { 'learningAgreement': learningAgreement.id, 'selectedComponent': component.id }) }}">Edit</a>
                                                        <a href="{{ path('learning_agreement_during_mobility_component_delete', { 'learningAgreement': learningAgreement.id, 'selectedComponent': component.id }) }}">Delete</a>
                                                    </td>
                                                    {% endif %}
                                                </tr>
                                        {% endfor %}
                                    {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section">
                <div class="bg-lighter-grey">
                    <div class="components-wrapper p-3">
                        <p><i class="fas fa-table highlight"></i> TABLE B2 - DURING THE MOBILITY: EXCEPTIONAL CHANGES TO TABLE B</p>
                        <p><small><i class="fas fa-university highlight"></i> {{ learningAgreement.sendingInstitution.institution.name }}</small></p>
                        {% if is_granted('edit', learningAgreement.duringMobilitySection) %}
                        <div class="row">
                            <div class="col-12 mb-3">
                                <a class="btn btn-primary" href="{{ path('learning_agreement_during_mobility_component_new', { 'learningAgreement': learningAgreement.id, 'role': 'sending' }) }}"><i class="fas fa-plus-circle"></i> Add subject</a>
                            </div>
                        </div>
                        {% endif %}
                        <div class="components table-list row">
                            <div class="table-responsive col-12">
                                <table class="table table-hover mx-auto text-center">
                                    <thead>
                                    <tr>
                                        <th scope="col">Component code</th>
                                        <th scope="col">Component title</th>
                                        <th scope="col">Is Deleted</th>
                                        <th scope="col">Is Added</th>
                                        <th scope="col">Semester</th>
                                        <th scope="col">ECTS</th>
                                        {% if is_granted('edit', learningAgreement.duringMobilitySection) %}
                                        <th scope="col">Actions</th>
                                        {% endif %}
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="bg-grey text-uppercase"><td><small>Before mobility </small><br><i class="fas fa-angle-down"></i></td></tr>
                                    {% for component in sendingComponents.before %}
                                        <tr>
                                            <td>{% if component.educationalComponent %}{{ component.educationalComponent.componentCode }}{% endif %}</td>
                                            <td>{% if component.educationalComponent %}{{ component.educationalComponent.componentTitle }}{% endif %}</td>
                                            {% if component.isDeleted %}<td class="text-color-green"><i class="fas fa-lg fa-check"></i></td>{% else %}<td class="text-color-red"><i class="fas fa-lg fa-times"></i></td>{% endif %}
                                            {% if component.isAdded %}<td class="text-color-green"><i class="fas fa-lg fa-check"></i></td>{% else %}<td class="text-color-red"><i class="fas fa-lg fa-times"></i></td>{% endif %}
                                            <td>{% if component.educationalComponent %}{{ component.educationalComponent.semester }}{% endif %}</td>
                                            <td>{% if component.educationalComponent %}{{ component.educationalComponent.ectsCredits }}{% endif %}</td>
                                            {% if is_granted('edit', learningAgreement.duringMobilitySection) %}
                                            <td>
                                                <a class="btn btn-sm btn-primary" href="{{ path('learning_agreement_during_mobility_component_toggle_deleted', { 'learningAgreement': learningAgreement.id, 'selectedComponent': component.id }) }}">{% if component.isDeleted %}Unset deleted{% else %}Set as deleted{% endif %}</a>
                                            </td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                    {% if sendingComponents.during|length > 0 %}
                                        <tr class="bg-grey text-uppercase"><td><small>During mobility </small><br><i class="fas fa-angle-down"></i></td></tr>
                                        {% for component in sendingComponents.during %}
                                            <tr>
                                                <td>{% if component.educationalComponent %}{{ component.educationalComponent.componentCode }}{% endif %}</td>
                                                <td>{% if component.educationalComponent %}{{ component.educationalComponent.componentTitle }}{% endif %}</td>
                                                {% if component.isDeleted %}<td class="text-color-green"><i class="fas fa-lg fa-check"></i></td>{% else %}<td class="text-color-red"><i class="fas fa-lg fa-times"></i></td>{% endif %}
                                                {% if component.isAdded %}<td class="text-color-green"><i class="fas fa-lg fa-check"></i></td>{% else %}<td class="text-color-red"><i class="fas fa-lg fa-times"></i></td>{% endif %}
                                                <td>{% if component.educationalComponent %}{{ component.educationalComponent.semester }}{% endif %}</td>
                                                <td>{% if component.educationalComponent %}{{ component.educationalComponent.ectsCredits }}{% endif %}</td>
                                                {% if is_granted('edit', learningAgreement.duringMobilitySection) %}
                                                <td>
                                                    <a href="{{ path('learning_agreement_during_mobility_changes_component_detail', { 'learningAgreement': learningAgreement.id, 'selectedComponent': component.id }) }}">Edit</a>
                                                    <a href="{{ path('learning_agreement_during_mobility_component_delete', { 'learningAgreement': learningAgreement.id, 'selectedComponent': component.id }) }}">Delete</a>
                                                </td>
                                                {% endif %}
                                            </tr>
                                        {% endfor %}
                                    {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section-bottom">
                <div class="row">
                    <div class="col-12 text-center mt-2">
                        {% if is_granted('ROLE_STUDENT') %}
                            <a href="{{ path('learning_agreement_during_mobility_commitment', { 'learningAgreement': learningAgreement.id }) }}" class="btn btn-navy">Next</a>
                        {% elseif is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('learning_agreement_during_mobility_approval_sending', { 'learningAgreement': learningAgreement.id }) }}" class="btn btn-navy">Next</a>
                        {% else %}
                            <a href="{{ path('learning_agreement_during_mobility_approval_receiving', { 'learningAgreement': learningAgreement.id }) }}" class="btn btn-navy">Next</a>
                        {% endif %}
                    </div>
                </div>
            </section>
        </div>
    </main>
{% endblock %}