{% extends 'base.html.twig' %}

{% block content %}
    <main>
        <div class="container">
            <section class="section-top">
                {%  include 'learning-agreements/during-mobility/timeline_during.html.twig' %}
            </section>
            <section class="section-bottom">
                <h2>Component</h2>
                {{ form_start(form) }}
                {{ form_row(form.componentCode) }}
                {{ form_row(form.componentTitle) }}
                {{ form_row(form.semester) }}
                {{ form_row(form.ectsCredits) }}
                {% if roleInAgreement == 'receiving' %}
                {{ form_row(form.reason) }}
                {% endif %}
                <div class="row">
                    <div class="col-12 text-center">
                    {{ form_label(form.save) }}
                    {{ form_widget(form.save, { 'attr': {'class': 'btn-xl btn-primary dark'} }) }}
                    </div>
                </div>
                {{ form_end(form) }}
                <div class="row">
                    <div class="col-12 text-center mt-2">
                        <a href="{{ path('learning_agreement_during_mobility_changes', { 'learningAgreement': learningAgreement.id }) }}" class="btn btn-navy">Cancel</a>
                    </div>
                </div>
            </section>
        </div>
    </main>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}