{% set route = app.request.attributes.get('_route') %}
<h1>Learning Agreement</h1>
<h2>Number: {{ learningAgreement.id }}</h2>
<h2><small>During mobility: <span class="badge badge-navy">{{ learningAgreement.duringMobilitySection.status }}</span></small></h2>
{% if is_granted('ROLE_ADMIN') %} {# LA timeline for staff/teacher #}
    <div class="row progress-timeline text-center">
        <div class="col-12 col-md-2 progress-timeline-step ml-auto {{ route starts with 'learning_agreement_during_mobility_changes' ? 'active' }}">
            <a href="{{ path('learning_agreement_during_mobility_changes', { 'learningAgreement': learningAgreement.id }) }}" class="btn step-number">1</a>
            <p class="step-desc">Changes in mobility</p>
        </div>
        <div class="col-12 col-md-2 progress-timeline-step mr-auto {{ route starts with 'learning_agreement_during_mobility_approval' ? 'active' }}">
            <a href="{{ path('learning_agreement_during_mobility_approval_sending', { 'learningAgreement': learningAgreement.id }) }}" class="btn step-number">2</a>
            <p class="step-desc">Approval</p>
        </div>
    </div>
{% elseif is_granted('ROLE_RECEIVING_ACCOUNT') %} {# LA timeline for receiving #}
    <div class="row progress-timeline text-center">
        <div class="col-12 col-md-2 progress-timeline-step ml-auto {{ route starts with 'learning_agreement_during_mobility_changes' ? 'active' }}">
            <a href="{{ path('learning_agreement_during_mobility_changes', { 'learningAgreement': learningAgreement.id }) }}" class="btn step-number">1</a>
            <p class="step-desc">Changes in mobility</p>
        </div>
        <div class="col-12 col-md-2 progress-timeline-step mr-auto {{ route starts with 'learning_agreement_during_mobility_approval' ? 'active' }}">
            <a href="{{ path('learning_agreement_during_mobility_approval_receiving', { 'learningAgreement': learningAgreement.id }) }}" class="btn step-number">2</a>
            <p class="step-desc">Approval</p>
        </div>
    </div>
{% else %} {# LA timeline for student #}
    <div class="row progress-timeline text-center">
        <div class="col-12 col-md-2 progress-timeline-step ml-auto {{ route starts with 'learning_agreement_during_mobility_changes' ? 'active' }}">
            <a href="{{ path('learning_agreement_during_mobility_changes', { 'learningAgreement': learningAgreement.id }) }}" class="btn step-number">1</a>
            <p class="step-desc">Changes in mobility</p>
        </div>
        <div class="col-12 col-md-2 progress-timeline-step mr-auto {{ route starts with 'learning_agreement_during_mobility_commitment' ? 'active' }}">
            <a href="{{ path('learning_agreement_during_mobility_commitment', { 'learningAgreement': learningAgreement.id }) }}" class="btn step-number">2</a>
            <p class="step-desc">Commitment</p>
        </div>
    </div>
{% endif %}