// Bootstrap overrides for this template
.text-primary {
  color: $primary !important;
}

.btn {
  border: 2px solid $white;
  font-size: .8rem;
  font-weight: 500;
  text-transform: uppercase;
  &:hover,
  &:focus,
  &:active {
    outline: 0 !important;
    box-shadow: none !important;
  }
}

.btn-xl {
  padding: 1rem 2rem;
}

.btn-primary {
  background-color: transparent;
  font-size: .8rem;
  font-weight: 500;
  border: 1px solid $primary;
  color: $primary;
  &:hover {
    border-color: $white !important;
    color: $white;
    background-color: darken($secondary, 5%) !important;
  }
  &:active,
  &:focus {
    box-shadow: none !important;
    border-color: $white !important;
    background-color: darken($secondary, 10%) !important;
    color: $primary !important;
  }
  &.dark {
    background-color: $primary;
    color: $white;
  }
  &.disabled {
    background-color: $gray-400;
    border-color: $gray-400;
    &:hover {
      background-color: $gray-400 !important;
      border-color: $gray-400 !important;
    }
  }
}
.btn-navy {
  background-color: $nav-color;
  border: 1px solid $nav-color;
  font-weight: 500;
  color: $white !important;
  &:hover {
    background-color: darken($nav-color, 5%) !important;
    border-color: $white !important;
  }
  &:active,
  &:focus {
    box-shadow: none !important;
    border-color: $white !important;
    background-color: darken($nav-color, 10%) !important;
    color: $nav-color !important;
  }
  &.btn-navigation {
    min-width: 85px;
  }
  &.btn:disabled {
    opacity: .25;
    &:hover {
      background-color: $nav-color !important;
      border: 1px solid $nav-color !important;
    }
  }
}
.container-fluid {
  max-width: 1450px;
}
.form-control-label {
  &.required {
    &:after {
      content: " *";
      color: $primary;
    }
  }
}
.badge {
  vertical-align: bottom;
}
.badge-navy {
  color: #fff;
  background-color: $nav-color;
}