// Global styling for this template

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px; /* Margin bottom by footer height */
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

a {
  color: $primary;
  @include transition-all;
  &:hover {
    color: darken($primary, .1);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include sans-serif-font;
}

.bg-primary {
  background-color: lighten($primary, 15%) !important;
}

.bg-grey {
  background-color: $light-gray !important;
}

.bg-lighter-grey {
  background-color: lighten($light-gray, 2%) !important;
}

.text-faded {
  color: fade-out($white, .3);
}

section {
  padding: 1rem 0;
  &.section-top {
    padding-top: 10rem;
    @media (min-width: 768px) {
      padding-top: 12rem;
    }
    @media (min-width: 992px) {
      padding-top: 8rem;
    }
  }
  &.section-bottom {
    padding-bottom: 2rem;
    @media (min-width: 768px) {
      padding-bottom: 3rem;
    }
    @media (min-width: 992px) {
      padding-bottom: 4rem;
    }
  }
}

section {
  h1 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: 3px;
    color: $secondary;
  }
  h2 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.5rem;
    letter-spacing: 3px;
    color: $secondary;
  }
}

::-moz-selection {
  color: $white;
  background: $gray-900;
  text-shadow: none;
}

::selection {
  color: $white;
  background: $gray-900;
  text-shadow: none;
}

img::selection {
  color: $white;
  background: transparent;
}

img::-moz-selection {
  color: $white;
  background: transparent;
}
.highlight {
  color: $primary;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
  span {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: .8rem;
  }
}

.active-link {
  color: $primary;
}
.badge-mini {
  padding: .5rem;
  text-transform: uppercase;
  font-weight: 500;
}
.text-color-red {
  color: crimson !important;
}
.text-color-green {
  color: limegreen !important;
}