.progress-timeline-step {
  text-align: center;
  .step-number {
    font-size: 3rem;
    font-weight: 700;
    color: $light-gray;
    &:hover {
      color: $primary;
    }
  }
  .step-desc {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: .8rem;
  }
  &.active {
    .step-number {
      color: $primary;
    }
  }
}
.table-list {
  padding-right: 15px;
  .table {
    thead {
      background-color: $nav-color;
      color: $primary;
      tr {
        th {
          border: none;
          vertical-align: middle;
          text-transform: uppercase;
          font-size: .8rem;
          font-weight: 500;
        }
      }
    }
    &.table-hover {
      tbody {
        tr {
          &:hover {
            @include transition-all;
            background-color: lighten($primary, 20%);
          }
          td {
            font-size: .8rem;
            &.td-small {
              font-size: .6rem;
            }
          }
        }
      }
    }
    @media (min-width: 992px) {
      table-layout: fixed;
    }
  }
}
.signature-pad {
  position: relative;
  margin: 0 auto;
  font-size: 10px;
  width: 100%;
  height: 100%;
  max-width: 700px;
  max-height: 460px;
  border: 1px solid #e8e8e8;
  background-color: #fff;
  border-radius: 4px;
  padding: 16px;
}

.signature-pad--body {
  position: relative;
  flex: 1;
  border: 1px solid #f4f4f4;
  min-height: 150px;
  canvas {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
  }
}

.signature-pad--actions {
  margin-top: 8px;
}