// Styling for the navbar
#mainNav {
  padding: 0.5rem 1rem;
  background-color: fade-in($nav-color, .9);
  @include sans-serif-font;
  @include transition-all;
  .navbar-brand {
    font-weight: 500;
    text-transform: uppercase;
    color: $white;
    @include sans-serif-font;
    span {
      padding-left: .5rem;
      font-size: .8rem;
      vertical-align: middle;
      @media (min-width: 468px) {
        font-size: 1rem;
      }
    }
    @media (min-width: 992px) {
      &::after {
        content: "";
        background-color: white;
        width: 1px;
        height: 2rem;
        position: absolute;
        margin: 9px 22px;
        cursor: default;
      }
    }
  }
  .navbar-toggler {
    border: none;
    background: transparent !important;
    &:focus, &:active{
      outline: 0;
    }
    &:hover {
      background: transparent !important;
    }
    .icon-bar {
      @include transition-all;
      display: block;
      background-color: $white;
      height: 1px;
      width: 25px;
      margin-top: 6px;
      margin-bottom: 6px;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      position: relative;
      left: 0;
      opacity: 1;
      &.top-bar {
        transform: rotate(45deg);
        transform-origin: 10% 10%;
      }
      &.middle-bar {
        opacity: 0;
      }
      &.bottom-bar {
        transform: rotate(-45deg);
        transform-origin: 10% 90%;
      }
    }
    &.collapsed {
      .top-bar {
        transform: rotate(0);
      }
      .middle-bar {
        opacity: 1;
      }
      .bottom-bar {
        transform: rotate(0);
      }
    }
  }
  .navbar-collapse {
    max-height: 90vh;
    overflow-y: auto;
    @media (min-width: 992px) {
      margin-left: 1rem;
    }
  }
  .navbar-nav {
    > li.nav-item {
       > a.nav-link,
      > a.nav-link:focus {
        font-size: .9rem;
        font-weight: 500;
        color: $white;
        &:hover {
          color: $primary;
        }
        &.active-link {
          color: $primary;
          background-color: transparent;
          &:hover {
            color: $primary;
            background-color: transparent;
          }
        }
         &.fb {
           &:hover {
             color: $primary;
           }
         }
      }
    }
  }
  .user-data {
    margin: .5rem 0;
    padding: .5rem;
    width: 100%;
    text-align: right;
    background-color: darken($nav-color, 10%);
    border-radius: 45px;
    .btn-dropdown {
      background-color: transparent;
      border: none;
      outline: 0 !important;
      cursor: pointer;
      span {
        padding: 0 .5rem;
        color: $primary;
      }
    }
    .dropdown-menu {
      position: absolute;
      right: 0;
      left: auto;
      min-width: 200px;
      max-width: 100%;
      padding: 1rem;
      -webkit-box-shadow: 1px 1px 15px -5px rgba(0,0,0,0.75);
      -moz-box-shadow: 1px 1px 15px -5px rgba(0,0,0,0.75);
      box-shadow: 1px 1px 15px -5px rgba(0,0,0,0.75);
      word-break: break-all;
      .dropdown-item {
        white-space: normal;
        &:hover {
          color: $primary;
          text-decoration: none;
          background-color: transparent;
        }
      }
      .divider {
        margin: 0 auto 1rem;
        border-bottom: 1px solid $primary;
        width: 80%;
      }
      @media (min-width: 992px) {
        min-width: 250px;
      }
    }
    .dropdown-user {
      text-align: center;
      .dropdown-user-data {
        margin: 1rem 0;
        p {
          margin: 0;
        }
        .dropdown-user-email {
          font-size: .8rem;
        }
        .dropdown-user-role {
          font-size: .8rem;
          color: $primary;
          text-transform: uppercase;
          letter-spacing: 1px;
          word-break: break-word;
        }
      }
    }

    @media (min-width: 992px) {
      width: auto;
    }
  }
  @media (min-width: 992px) {
    .navbar-nav > li.nav-item > a.nav-link {
      @include transition-all;
      padding: 0.25rem 0.55rem;
      font-weight: 500 !important;
      letter-spacing: 1px !important;
    }
  }
}
.dropdown-toggle::after {
  margin: 0 1rem 0 .5rem;
  content: "\f142";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  vertical-align: text-top;
  border: none;
  color: $white;
}