html {
  position: relative;
  min-height: 100%; }

body {
  margin-bottom: 60px;
  /* Margin bottom by footer height */
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif; }

a {
  color: #85cdf5;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s; }
  a:hover {
    color: #85cdf5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif; }

.bg-primary {
  background-color: #cceafb !important; }

.bg-grey {
  background-color: #f5f5f5 !important; }

.bg-lighter-grey {
  background-color: #fafafa !important; }

.text-faded {
  color: rgba(255, 255, 255, 0.7); }

section {
  padding: 1rem 0; }
  section.section-top {
    padding-top: 10rem; }
    @media (min-width: 768px) {
      section.section-top {
        padding-top: 12rem; } }
    @media (min-width: 992px) {
      section.section-top {
        padding-top: 8rem; } }
  section.section-bottom {
    padding-bottom: 2rem; }
    @media (min-width: 768px) {
      section.section-bottom {
        padding-bottom: 3rem; } }
    @media (min-width: 992px) {
      section.section-bottom {
        padding-bottom: 4rem; } }

section h1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2rem;
  letter-spacing: 3px;
  color: #79bfd9; }
section h2 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.5rem;
  letter-spacing: 3px;
  color: #79bfd9; }

::-moz-selection {
  color: #fff;
  background: #212529;
  text-shadow: none; }

::selection {
  color: #fff;
  background: #212529;
  text-shadow: none; }

img::selection {
  color: #fff;
  background: transparent; }

img::-moz-selection {
  color: #fff;
  background: transparent; }

.highlight {
  color: #85cdf5; }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  /* Set the fixed height of the footer here */
  line-height: 60px;
  /* Vertically center the text there */
  background-color: #f5f5f5; }
  .footer span {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: .8rem; }

.active-link {
  color: #85cdf5; }

.badge-mini {
  padding: .5rem;
  text-transform: uppercase;
  font-weight: 500; }

.text-color-red {
  color: crimson !important; }

.text-color-green {
  color: limegreen !important; }

#mainNav {
  padding: 0.5rem 1rem;
  background-color: #375465;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s; }
  #mainNav .navbar-brand {
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif; }
    #mainNav .navbar-brand span {
      padding-left: .5rem;
      font-size: .8rem;
      vertical-align: middle; }
      @media (min-width: 468px) {
        #mainNav .navbar-brand span {
          font-size: 1rem; } }
    @media (min-width: 992px) {
      #mainNav .navbar-brand::after {
        content: "";
        background-color: white;
        width: 1px;
        height: 2rem;
        position: absolute;
        margin: 9px 22px;
        cursor: default; } }
  #mainNav .navbar-toggler {
    border: none;
    background: transparent !important; }
    #mainNav .navbar-toggler:focus, #mainNav .navbar-toggler:active {
      outline: 0; }
    #mainNav .navbar-toggler:hover {
      background: transparent !important; }
    #mainNav .navbar-toggler .icon-bar {
      -webkit-transition: all 0.35s;
      -moz-transition: all 0.35s;
      transition: all 0.35s;
      display: block;
      background-color: #fff;
      height: 1px;
      width: 25px;
      margin-top: 6px;
      margin-bottom: 6px;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      position: relative;
      left: 0;
      opacity: 1; }
      #mainNav .navbar-toggler .icon-bar.top-bar {
        transform: rotate(45deg);
        transform-origin: 10% 10%; }
      #mainNav .navbar-toggler .icon-bar.middle-bar {
        opacity: 0; }
      #mainNav .navbar-toggler .icon-bar.bottom-bar {
        transform: rotate(-45deg);
        transform-origin: 10% 90%; }
    #mainNav .navbar-toggler.collapsed .top-bar {
      transform: rotate(0); }
    #mainNav .navbar-toggler.collapsed .middle-bar {
      opacity: 1; }
    #mainNav .navbar-toggler.collapsed .bottom-bar {
      transform: rotate(0); }
  #mainNav .navbar-collapse {
    max-height: 90vh;
    overflow-y: auto; }
    @media (min-width: 992px) {
      #mainNav .navbar-collapse {
        margin-left: 1rem; } }
  #mainNav .navbar-nav > li.nav-item > a.nav-link,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
    font-size: .9rem;
    font-weight: 500;
    color: #fff; }
    #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
    #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
      color: #85cdf5; }
    #mainNav .navbar-nav > li.nav-item > a.nav-link.active-link,
    #mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active-link {
      color: #85cdf5;
      background-color: transparent; }
      #mainNav .navbar-nav > li.nav-item > a.nav-link.active-link:hover,
      #mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active-link:hover {
        color: #85cdf5;
        background-color: transparent; }
    #mainNav .navbar-nav > li.nav-item > a.nav-link.fb:hover,
    #mainNav .navbar-nav > li.nav-item > a.nav-link:focus.fb:hover {
      color: #85cdf5; }
  #mainNav .user-data {
    margin: .5rem 0;
    padding: .5rem;
    width: 100%;
    text-align: right;
    background-color: #253944;
    border-radius: 45px; }
    #mainNav .user-data .btn-dropdown {
      background-color: transparent;
      border: none;
      outline: 0 !important;
      cursor: pointer; }
      #mainNav .user-data .btn-dropdown span {
        padding: 0 .5rem;
        color: #85cdf5; }
    #mainNav .user-data .dropdown-menu {
      position: absolute;
      right: 0;
      left: auto;
      min-width: 200px;
      max-width: 100%;
      padding: 1rem;
      -webkit-box-shadow: 1px 1px 15px -5px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 1px 1px 15px -5px rgba(0, 0, 0, 0.75);
      box-shadow: 1px 1px 15px -5px rgba(0, 0, 0, 0.75);
      word-break: break-all; }
      #mainNav .user-data .dropdown-menu .dropdown-item {
        white-space: normal; }
        #mainNav .user-data .dropdown-menu .dropdown-item:hover {
          color: #85cdf5;
          text-decoration: none;
          background-color: transparent; }
      #mainNav .user-data .dropdown-menu .divider {
        margin: 0 auto 1rem;
        border-bottom: 1px solid #85cdf5;
        width: 80%; }
      @media (min-width: 992px) {
        #mainNav .user-data .dropdown-menu {
          min-width: 250px; } }
    #mainNav .user-data .dropdown-user {
      text-align: center; }
      #mainNav .user-data .dropdown-user .dropdown-user-data {
        margin: 1rem 0; }
        #mainNav .user-data .dropdown-user .dropdown-user-data p {
          margin: 0; }
        #mainNav .user-data .dropdown-user .dropdown-user-data .dropdown-user-email {
          font-size: .8rem; }
        #mainNav .user-data .dropdown-user .dropdown-user-data .dropdown-user-role {
          font-size: .8rem;
          color: #85cdf5;
          text-transform: uppercase;
          letter-spacing: 1px;
          word-break: break-word; }
    @media (min-width: 992px) {
      #mainNav .user-data {
        width: auto; } }
  @media (min-width: 992px) {
    #mainNav .navbar-nav > li.nav-item > a.nav-link {
      -webkit-transition: all 0.35s;
      -moz-transition: all 0.35s;
      transition: all 0.35s;
      padding: 0.25rem 0.55rem;
      font-weight: 500 !important;
      letter-spacing: 1px !important; } }

.dropdown-toggle::after {
  margin: 0 1rem 0 .5rem;
  content: "\f142";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  vertical-align: text-top;
  border: none;
  color: #fff; }

.text-primary {
  color: #85cdf5 !important; }

.btn {
  border: 2px solid #fff;
  font-size: .8rem;
  font-weight: 500;
  text-transform: uppercase; }
  .btn:hover, .btn:focus, .btn:active {
    outline: 0 !important;
    box-shadow: none !important; }

.btn-xl {
  padding: 1rem 2rem; }

.btn-primary {
  background-color: transparent;
  font-size: .8rem;
  font-weight: 500;
  border: 1px solid #85cdf5;
  color: #85cdf5; }
  .btn-primary:hover {
    border-color: #fff !important;
    color: #fff;
    background-color: #65b6d3 !important; }
  .btn-primary:active, .btn-primary:focus {
    box-shadow: none !important;
    border-color: #fff !important;
    background-color: #51acce !important;
    color: #85cdf5 !important; }
  .btn-primary.dark {
    background-color: #85cdf5;
    color: #fff; }
  .btn-primary.disabled {
    background-color: #ced4da;
    border-color: #ced4da; }
    .btn-primary.disabled:hover {
      background-color: #ced4da !important;
      border-color: #ced4da !important; }

.btn-navy {
  background-color: #375465;
  border: 1px solid #375465;
  font-weight: 500;
  color: #fff !important; }
  .btn-navy:hover {
    background-color: #2e4654 !important;
    border-color: #fff !important; }
  .btn-navy:active, .btn-navy:focus {
    box-shadow: none !important;
    border-color: #fff !important;
    background-color: #253944 !important;
    color: #375465 !important; }
  .btn-navy.btn-navigation {
    min-width: 85px; }
  .btn-navy.btn:disabled {
    opacity: .25; }
    .btn-navy.btn:disabled:hover {
      background-color: #375465 !important;
      border: 1px solid #375465 !important; }

.container-fluid {
  max-width: 1450px; }

.form-control-label.required:after {
  content: " *";
  color: #85cdf5; }

.badge {
  vertical-align: bottom; }

.badge-navy {
  color: #fff;
  background-color: #375465; }

.progress-timeline-step {
  text-align: center; }
  .progress-timeline-step .step-number {
    font-size: 3rem;
    font-weight: 700;
    color: #f5f5f5; }
    .progress-timeline-step .step-number:hover {
      color: #85cdf5; }
  .progress-timeline-step .step-desc {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: .8rem; }
  .progress-timeline-step.active .step-number {
    color: #85cdf5; }

.table-list {
  padding-right: 15px; }
  .table-list .table thead {
    background-color: #375465;
    color: #85cdf5; }
    .table-list .table thead tr th {
      border: none;
      vertical-align: middle;
      text-transform: uppercase;
      font-size: .8rem;
      font-weight: 500; }
  .table-list .table.table-hover tbody tr:hover {
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
    background-color: #e3f4fd; }
  .table-list .table.table-hover tbody tr td {
    font-size: .8rem; }
    .table-list .table.table-hover tbody tr td.td-small {
      font-size: .6rem; }
  @media (min-width: 992px) {
    .table-list .table {
      table-layout: fixed; } }

.signature-pad {
  position: relative;
  margin: 0 auto;
  font-size: 10px;
  width: 100%;
  height: 100%;
  max-width: 700px;
  max-height: 460px;
  border: 1px solid #e8e8e8;
  background-color: #fff;
  border-radius: 4px;
  padding: 16px; }

.signature-pad--body {
  position: relative;
  flex: 1;
  border: 1px solid #f4f4f4;
  min-height: 150px; }
  .signature-pad--body canvas {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px; }

.signature-pad--actions {
  margin-top: 8px; }

#body-login {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #fff; }

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto; }

.form-signin .checkbox {
  font-weight: 400; }

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px; }

.form-signin .form-control:focus {
  z-index: 2; }

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0; }

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.upt-title {
  text-transform: uppercase;
  font-size: 1rem; }

/*# sourceMappingURL=app.css.map */
