{% extends 'base.html.twig' %}

{% block content %}
    <main>
        <div class="container">
            <section class="section-top">
                {%  include 'learning-agreements/timeline.html.twig' %}
            </section>
            <section class="section-bottom">
                {% if hasAllFields.ok %}
                    <h2>Student's Commitment</h2>
                    {% if is_granted('sign', learningAgreement.beforeMobilitySection) %}
                        <div class="row">
                            <div class="col-12 pt-2 pb-3">
                                <a href="{{ path('learning_agreement_commitment_signature_digital', {'learningAgreement' : learningAgreement.id }) }}" class="btn btn-navy">Sign online</a>
                                <a href="{{ path('learning_agreement_commitment_signature_upload', {'learningAgreement' : learningAgreement.id }) }}" class="btn btn-navy">Upload image</a>
                            </div>
                        </div>
                    {% endif %}
                    {% if studentSignature %}
                        <p>Signature {% if learningAgreement.beforeMobilitySection.studentSignature.isDigital %}(digital){% else %}(uploaded){% endif %}:
                        </p>
                        <div class="row">
                            <div class="col-12 signature border-dark">
                                <img width="200" src="{{ asset('images/signatures/' ~ learningAgreement.id ~ '/' ~ learningAgreement.beforeMobilitySection.getStudentSignature.filename ~ '.png') }}" class="img-fluid">
                            </div>
                        </div>
                        <div class="row pt-4">
                            <div class="col-12">
                                <span>Signature time: {{ learningAgreement.beforeMobilitySection.studentSignature.signedAt|date('d-m-Y H:i') }}</span>
                            </div>
                        </div>
                    {% endif %}
                    {% if studentSignature and is_granted('sign', learningAgreement.beforeMobilitySection) %}
                        <div class="row pt-4">
                            <div class="col-12 text-center">
                                <small>NOTE: After you commit this LA it will be sent to your university coordinator for a review and you will no longer be able to edit it.</small>
                            </div>
                        </div>
                        <div class="row pt-4">
                            <div class="col-12 text-center">
                                {{ form_start(form) }}
                                {{ form_label(form.save) }}
                                {{ form_widget(form.save, { 'attr': {'class': 'btn-xl btn-primary dark'} }) }}
                                {{ form_end(form) }}
                            </div>
                        </div>
                    {% endif %}
                    {% if sendingSignature and learningAgreement.beforeMobilitySection.isSignedBySending %}
                        <section>
                            <h2>Approval by Sending institution</h2>
                            <small>{{ learningAgreement.sendingInstitution.institution.name }}</small>
                            <p>Signature {% if learningAgreement.beforeMobilitySection.sendingSignature.isDigital %}(digital){% else %}(uploaded){% endif %}:
                            </p>
                            <div class="row">
                                <div class="col-12 signature border-dark">
                                    <img width="200" src="{{ asset('images/signatures/' ~ learningAgreement.id ~ '/' ~ learningAgreement.beforeMobilitySection.sendingSignature.filename ~ '.png') }}" class="img-fluid">
                                </div>
                            </div>
                            <div class="row pt-4">
                                <div class="col-12">
                                    <span>Signature time: {{ learningAgreement.beforeMobilitySection.sendingSignature.signedAt|date('d-m-Y H:i') }}</span>
                                </div>
                            </div>
                        </section>
                    {% endif %}
                    {% if receivingSignature and learningAgreement.beforeMobilitySection.isSignedByReceiving %}
                        <section>
                            <h2>Approval by Receiving institution</h2>
                            <small>{{ learningAgreement.receivingInstitution.institution.name }}</small>
                            <p>Signature {% if learningAgreement.beforeMobilitySection.receivingSignature.isDigital %}(digital){% else %}(uploaded){% endif %}:
                            </p>
                            <div class="row">
                                <div class="col-12 signature border-dark">
                                    <img width="200" src="{{ asset('images/signatures/' ~ learningAgreement.id ~ '/' ~ learningAgreement.beforeMobilitySection.receivingSignature.filename ~ '.png') }}" class="img-fluid">
                                </div>
                            </div>
                            <div class="row pt-4">
                                <div class="col-12">
                                    <span>Signature time: {{ learningAgreement.beforeMobilitySection.receivingSignature.signedAt|date('d-m-Y H:i') }}</span>
                                </div>
                            </div>
                        </section>
                    {% endif %}
                    <div class="row">
                        <div class="col-12 text-center mt-2">
                            <a href="{{ path('learning_agreement_responsible_persons', { 'learningAgreement': learningAgreement.id }) }}" class="btn btn-navy">Previous</a>
                        </div>
                    </div>
                {% else %}
                    <div class="alert alert-primary text-center">
                        {{ hasAllFields.message }}
                    </div>
                {% endif %}
            </section>
        </div>
    </main>
{% endblock %}