{% extends 'base.html.twig' %}

{% block content %}
    <main>
        <div class="container">
            <section class="section-heading section-top">
                {% for flash_message in app.session.flashbag.get('warning') %}
                    <div class="alert alert-primary text-center">
                        {{flash_message|raw}}
                    </div>
                {% endfor %}
                <h1>Learning Agreements</h1>
                <p class="mb-2"><span class="badge badge-navy badge-mini"><i class="far fa-clock"></i> Before mobility</span></p>
                {% if is_granted('ROLE_STUDENT') %}
                <a class="btn btn-primary mb-2" href="{{ path('learning_agreements_new') }}"><i class="fas fa-plus-circle"></i> New learning agreement</a>
                {% endif %}
                <div class="learning-agreements table-list row">
                    <div class="table-responsive col-12">
                        <table class="table table-hover mx-auto text-center">
                            <thead>
                            <tr>
                                <th scope="col">LA Number</th>
                                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_RECEIVING_ACCOUNT') %}
                                <th scope="col">Student</th>
                                {% endif %}
                                <th scope="col">Created</th>
                                <th scope="col">Receiving Institution</th>
                                <th scope="col">Country</th>
                                <th scope="col">Study cycle</th>
                                <th scope="col">From</th>
                                <th scope="col">To</th>
                                <th scope="col">Status</th>
                                <th scope="col">Actions</th>
                                <th scope="col"><i class="far fa-clock"></i> During mobility</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for la in learningAgreements %}
                                {% if is_granted('view', la.beforeMobilitySection) %}
                                <tr>
                                    <td>{{ la.id }}</td>
                                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_RECEIVING_ACCOUNT') %}
                                    <td>{{ la.student.firstName }} {{ la.student.lastName }}</td>
                                    {% endif %}
                                    <td>{{ la.createdAt|date('d-m-Y H:i') }}</td>
                                    <td class="td-small">{% if la.getReceivingInstitution and la.getReceivingInstitution.institution %}{{ la.getReceivingInstitution.institution.name }}{% else %}-{% endif %}</td>
                                    <td>{% if la.getReceivingInstitution and la.getReceivingInstitution.institution %}{{ la.getReceivingInstitution.institution.country.countryName }}{% else %}-{% endif %}</td>
                                    <td>{% if la.studyCycle %}{{ la.studyCycle }}{% else %}-{% endif %}</td>
                                    <td>{% if la.startDate %}{{ la.startDate|date('d-m-Y') }}{% else %}-{% endif %}</td>
                                    <td>{% if la.startDate %}{{ la.endDate|date('d-m-Y') }}{% else %}-{% endif %}</td>
                                    <td>{{ la.beforeMobilitySection.status }}</td>
                                    <td>
                                        {% if is_granted('view', la.beforeMobilitySection) %}
                                        <a href="{{ path('learning_agreement_student_info', { 'learningAgreement': la.id }) }}">View</a>
                                        {% endif %}
                                        {% if is_granted('remove', la.beforeMobilitySection) %}
                                        <a href="{{ path('learning_agreement_delete', { 'learningAgreement': la.id }) }}">Remove</a>
                                        {% endif %}
                                        {% if is_granted('export', la.beforeMobilitySection) %}
                                        <a href="{{ path('learning_agreement_export_pdf', { 'learningAgreement': la.id }) }}">Export</a>
                                        {% endif %}
                                    </td>
                                    <td>{% if la.beforeMobilitySection.status == 'Approved By Both' %}
                                            {% if la.duringMobilitySection %}
                                                {% if is_granted('view', la.duringMobilitySection) %}
                                                    <a href="{{ path('learning_agreement_during_mobility_changes', { 'learningAgreement' : la.id }) }}">View</a>
                                                {% else %}
                                                    Not available
                                                {% endif %}
                                                {% if is_granted('export', la.duringMobilitySection) %}
                                                    <a href="{{ path('learning_agreement_during_mobility_export_pdf', { 'learningAgreement': la.id }) }}">Export</a>
                                                {% endif %}
                                            {% elseif is_granted('createDuring', la.beforeMobilitySection) %}
                                                <a href="{{ path('learning_agreement_during_mobility_create', { 'learningAgreement' : la.id }) }}">Create</a>
                                            {% else %}
                                                Not available
                                            {% endif %}
                                        {% else %}Not available{% endif %}</td>
                                </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
            <section class="section-heading section-bottom">
                {% for flash_message in app.session.flashbag.get('warning') %}
                    <div class="alert alert-primary text-center">
                        {{flash_message|raw}}
                    </div>
                {% endfor %}
                <h1>Learning agreements with changes</h1>
                <p class="mb-2"><span class="badge badge-navy badge-mini"><i class="far fa-clock"></i> During mobility</span></p>
                <div class="learning-agreements table-list row">
                    <div class="table-responsive col-12">
                        <table class="table table-hover mx-auto text-center">
                            <thead>
                            <tr>
                                <th scope="col">LA Number</th>
                                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_RECEIVING_ACCOUNT') %}
                                    <th scope="col">Student</th>
                                {% endif %}
                                <th scope="col">Created</th>
                                <th scope="col">Receiving Institution</th>
                                <th scope="col">Country</th>
                                <th scope="col">Study cycle</th>
                                <th scope="col">From</th>
                                <th scope="col">To</th>
                                <th scope="col">Status</th>
                                <th scope="col">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for la in learningAgreementsWithDuring %}
                                {% if is_granted('view', la.duringMobilitySection) %}
                                <tr>
                                    <td>{{ la.id }}</td>
                                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_RECEIVING_ACCOUNT') %}
                                        <td>{{ la.student.firstName }} {{ la.student.lastName }}</td>
                                    {% endif %}
                                    <td>{{ la.createdAt|date('d-m-Y H:i') }}</td>
                                    <td class="td-small">{% if la.getReceivingInstitution and la.getReceivingInstitution.institution %}{{ la.getReceivingInstitution.institution.name }}{% else %}-{% endif %}</td>
                                    <td>{% if la.getReceivingInstitution and la.getReceivingInstitution.institution %}{{ la.getReceivingInstitution.institution.country.countryName }}{% else %}-{% endif %}</td>
                                    <td>{% if la.studyCycle %}{{ la.studyCycle }}{% else %}-{% endif %}</td>
                                    <td>{% if la.startDate %}{{ la.startDate|date('d-m-Y') }}{% else %}-{% endif %}</td>
                                    <td>{% if la.startDate %}{{ la.endDate|date('d-m-Y') }}{% else %}-{% endif %}</td>
                                    <td>{{ la.duringMobilitySection.status }}</td>
                                    <td>
                                        {% if is_granted('view', la.duringMobilitySection) %}
                                            <a href="{{ path('learning_agreement_during_mobility_changes', { 'learningAgreement' : la.id }) }}">View</a>
                                        {% endif %}
                                        {% if is_granted('remove', la.duringMobilitySection) %}
                                            <a href="{{ path('learning_agreement_during_mobility_delete', { 'learningAgreement': la.id }) }}">Remove</a>
                                        {% endif %}
                                        {% if is_granted('export', la.duringMobilitySection) %}
                                            <a href="{{ path('learning_agreement_during_mobility_export_pdf', { 'learningAgreement': la.id }) }}">Export</a>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </main>
{% endblock %}