{% extends 'base.html.twig' %}

{% block content %}
    <main>
        <div class="container">
            <section class="section-top">
                {%  include 'learning-agreements/timeline.html.twig' %}
            </section>
            <section>
                <h2>Mobility programme</h2>
                <div class="bg-lighter-grey">
                    <div class="components-wrapper p-3">
                        <p><i class="fas fa-table highlight"></i> Table A: STUDY PROGRAMME AT THE RECEIVING INSTITUTION</p>
                        {% if is_granted('edit', learningAgreement.beforeMobilitySection) %}
                        <div class="row">
                            <div class="col-12 mb-3">
                                <a class="btn btn-primary" href="{{ path('learning_agreement_mobility_programme_component_new', { 'learningAgreement': learningAgreement.id, 'role': 'receiving' }) }}"><i class="fas fa-plus-circle"></i> Add subject</a>
                            </div>
                        </div>
                        {% endif %}
                        <div class="components table-list row">
                            <div class="table-responsive col-12">
                                <table class="table table-hover mx-auto text-center">
                                    <thead>
                                    <tr>
                                        <th scope="col">Component code</th>
                                        <th scope="col">Component title</th>
                                        <th scope="col">Semester</th>
                                        <th scope="col">ECTS</th>
                                        {% if is_granted('edit', learningAgreement.beforeMobilitySection) %}
                                        <th scope="col">Actions</th>
                                        {% endif %}
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for component in receivingComponents %}
                                        <tr>
                                            <td>{% if component.educationalComponent %}{{ component.educationalComponent.componentCode }}{% endif %}</td>
                                            <td>{% if component.educationalComponent %}{{ component.educationalComponent.componentTitle }}{% endif %}</td>
                                            <td>{% if component.educationalComponent %}{{ component.educationalComponent.semester }}{% endif %}</td>
                                            <td>{% if component.educationalComponent %}{{ component.educationalComponent.ectsCredits }}{% endif %}</td>
                                            {% if is_granted('edit', learningAgreement.beforeMobilitySection) %}
                                            <td>
                                                <a href="{{ path('learning_agreement_mobility_programme_component_detail', { 'learningAgreement': learningAgreement.id, 'selectedComponent': component.id }) }}">Edit</a>
                                                <a href="{{ path('learning_agreement_mobility_programme_component_delete', { 'learningAgreement': learningAgreement.id, 'selectedComponent': component.id }) }}">Remove</a>
                                            </td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>Total: {{ credits.receiving }}</td>
                                            {% if is_granted('edit', learningAgreement.beforeMobilitySection) %}
                                            <td></td>
                                            {% endif %}
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        {{ form_start(form) }}
                        {{ form_row(form.receivingCourseCatalogueLink) }}
                    </div>
                </div>
            </section>
            <section class="section">
                <div class="bg-lighter-grey">
                    <div class="components-wrapper p-3">
                        <p><i class="fas fa-table highlight"></i> Table B: RECOGNITION AT THE SENDING INSTITUTION</p>
                        {% if is_granted('edit', learningAgreement.beforeMobilitySection) %}
                        <div class="row">
                            <div class="col-12 mb-3">
                                <a class="btn btn-primary" href="{{ path('learning_agreement_mobility_programme_component_new', { 'learningAgreement': learningAgreement.id, 'role': 'sending' }) }}"><i class="fas fa-plus-circle"></i> Add subject</a>
                            </div>
                        </div>
                        {% endif %}
                        <div class="components table-list row">
                            <div class="table-responsive col-12">
                                <table class="table table-hover mx-auto text-center">
                                    <thead>
                                    <tr>
                                        <th scope="col">Component code</th>
                                        <th scope="col">Component title</th>
                                        <th scope="col">Semester</th>
                                        <th scope="col">ECTS</th>
                                        {% if is_granted('edit', learningAgreement.beforeMobilitySection) %}
                                        <th scope="col">Actions</th>
                                        {% endif %}
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for component in sendingComponents %}
                                        <tr>
                                            <td>{% if component.educationalComponent %}{{ component.educationalComponent.componentCode }}{% endif %}</td>
                                            <td>{% if component.educationalComponent %}{{ component.educationalComponent.componentTitle }}{% endif %}</td>
                                            <td>{% if component.educationalComponent %}{{ component.educationalComponent.semester }}{% endif %}</td>
                                            <td>{% if component.educationalComponent %}{{ component.educationalComponent.ectsCredits }}{% endif %}</td>
                                            {% if is_granted('edit', learningAgreement.beforeMobilitySection) %}
                                            <td>
                                                <a href="{{ path('learning_agreement_mobility_programme_component_detail', { 'learningAgreement': learningAgreement.id, 'selectedComponent': component.id }) }}">Edit</a>
                                                <a href="{{ path('learning_agreement_mobility_programme_component_delete', { 'learningAgreement': learningAgreement.id, 'selectedComponent': component.id }) }}">Remove</a>
                                            </td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>Total: {{ credits.sending }}</td>
                                        {% if is_granted('edit', learningAgreement.beforeMobilitySection) %}
                                        <td></td>
                                        {% endif %}
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        {{ form_row(form.sendingCourseCatalogueLink) }}
                    </div>
                </div>
            </section>
            <section class="section-bottom">
                <div class="row">
                    <p>Planned period of the mobility:</p>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            {{ form_label(form.startDate) }}
                            {{ form_errors(form.startDate) }}
                            {{ form_widget(form.startDate, { 'attr': {'class': 'datepicker'} }) }}
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            {{ form_label(form.endDate) }}
                            {{ form_errors(form.endDate) }}
                            {{ form_widget(form.endDate, { 'attr': {'class': 'datepicker'} }) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <p>Language competence of the student:</p>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            {{ form_label(form.language) }}
                            {{ form_errors(form.language) }}
                            {{ form_widget(form.language) }}
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            {{ form_label(form.languageCompetence) }}
                            {{ form_errors(form.languageCompetence) }}
                            {{ form_widget(form.languageCompetence) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <p>The level of language competence in <span class="highlight font-weight-bold">{% if learningAgreement.language %}{{ learningAgreement.language.languageName }}{% else %}[language]{% endif %}</span> that the student already has or agrees to acquire by the start of the study period is <span class="highlight font-weight-bold">{% if learningAgreement.languageCompetence %}{{ learningAgreement.languageCompetence }}{% else %}[level]{% endif %}</span>.</p>
                </div>
                {% if is_granted('edit', learningAgreement.beforeMobilitySection) %}
                    {% include ':form:navigation_form.html.twig' %}
                {% else %}
                    <div class="row pt-4">
                        <div class="col-12 text-center">
                            <a href="{{ path('learning_agreement_receiving_institution', { 'learningAgreement': learningAgreement.id }) }}" class="btn btn-navy">Previous</a>
                            <a href="{{ path('learning_agreement_responsible_persons', { 'learningAgreement': learningAgreement.id }) }}" class="btn btn-navy">Next</a>
                        </div>
                    </div>
                {% endif %}
                {{ form_end(form) }}
            </section>
        </div>
    </main>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $( ".datepicker" ).datepicker({
            yearRange: "2018:2028",
            changeYear: true,
            changeMonth: true,
            dateFormat: "dd-mm-yy"
        });
    </script>
{% endblock %}