{% extends 'base.html.twig' %}

{% block content %}
    <main>
        <div class="container">
            <section class="section-top">
                {%  include 'learning-agreements/timeline.html.twig' %}
            </section>
            <section class="section-bottom">
                <h2>Receiving Institution</h2>
                {{ form_start(form) }}
                <div class="row">
                    <div class="col-12">
                    {{ form_row(form.institution) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                    {{ form_row(form.address) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6">
                        {{ form_row(form.country) }}
                    </div>
                    <div class="col-12 col-md-6">
                        {{ form_row(form.erasmusCode) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6">
                        {{ form_row(form.faculty) }}
                    </div>
                    <div class="col-12 col-md-6">
                        {{ form_row(form.department) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        {{ form_row(form.contactPersonName) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6">
                        {{ form_row(form.contactPersonEmail) }}
                    </div>
                    <div class="col-12 col-md-6">
                        {{ form_row(form.contactPersonPhone) }}
                    </div>
                </div>
                {% if is_granted('edit', learningAgreement.beforeMobilitySection) %}
                    {% include ':form:navigation_form.html.twig' %}
                {% else %}
                    <div class="row pt-4">
                        <div class="col-12 text-center">
                            <a href="{{ path('learning_agreement_sending_institution', { 'learningAgreement': learningAgreement.id }) }}" class="btn btn-navy">Previous</a>
                            <a href="{{ path('learning_agreement_mobility_programme', { 'learningAgreement': learningAgreement.id }) }}" class="btn btn-navy">Next</a>
                        </div>
                    </div>
                {% endif %}
                {{ form_end(form) }}
            </section>
        </div>
    </main>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $( ".datepicker" ).datepicker({
            yearRange: "1980:2018",
            changeYear: true,
            changeMonth: true,
            dateFormat: "dd-mm-yy"
        });

        $(document).ready(function () {
            $('#involved_institution_form_institution').change(function() {
                var institution = $(this).val();
                $.ajax({
                    type: "POST",
                    url: "{{ path('learning_agreement_institution_info_ajax') }}",
                    data: { institution: institution }
                })
                    .done(function (result) {
                        if (result.ok) {
                            $('#involved_institution_form_country').val(result.country);
                            $('#involved_institution_form_address').val(result.address);
                            $('#involved_institution_form_erasmusCode').val(result.erasmusCode);
                        }
                        else {
                            $('#involved_institution_form_country').val('');
                            $('#involved_institution_form_address').val('');
                            $('#involved_institution_form_erasmusCode').val('');
                        }
                    });
            })
        });

    </script>
{% endblock %}