{% extends 'base.html.twig' %}

{% block content %}
    <main>
        <div class="container">
            <section class="section-top">
                {%  include 'learning-agreements/timeline.html.twig' %}
            </section>
            <section class="section-bottom">
                <h2>Responsible Persons</h2>
                {{ form_start(form) }}
                <div class="mt-4">
                    <p>Responsible person at the Sending institution</p>
                    {{ form_start(form) }}
                        <div class="row">
                            <div class="col-12 col-md-6">
                                {{ form_row(form.sending.institutionPerson) }}
                            </div>
                            <div class="col-12 col-md-6">
                                {{ form_row(form.sending.position) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6">
                                {{ form_row(form.sending.email) }}
                            </div>
                            <div class="col-12 col-md-6">
                                {{ form_row(form.sending.phoneNumber) }}
                            </div>
                        </div>
                    </div>
                    <div class="mt-4">
                        <p>Responsible person at the Receiving institution</p>
                        <div class="row">
                            <div class="col-12 col-md-6">
                                {{ form_row(form.receiving.name) }}
                            </div>
                            <div class="col-12 col-md-6">
                                {{ form_row(form.receiving.position) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6">
                                {{ form_row(form.receiving.email) }}
                            </div>
                            <div class="col-12 col-md-6">
                                {{ form_row(form.receiving.phoneNumber) }}
                            </div>
                        </div>
                        {% if is_granted('edit', learningAgreement.beforeMobilitySection) %}
                            {% include ':form:navigation_form.html.twig' %}
                        {% else %}
                            <div class="row pt-4">
                                <div class="col-12 text-center">
                                    <a href="{{ path('learning_agreement_mobility_programme', { 'learningAgreement': learningAgreement.id }) }}" class="btn btn-navy">Previous</a>
                                    {% if is_granted('ROLE_STUDENT') %}
                                        <a href="{{ path('learning_agreement_commitment', { 'learningAgreement': learningAgreement.id }) }}" class="btn btn-navy">Next</a>
                                    {% elseif is_granted('ROLE_ADMIN') %}
                                        <a href="{{ path('learning_agreement_approval_sending', { 'learningAgreement': learningAgreement.id }) }}" class="btn btn-navy">Next</a>
                                    {% else %}
                                        <a href="{{ path('learning_agreement_approval_receiving', { 'learningAgreement': learningAgreement.id }) }}" class="btn btn-navy">Next</a>
                                    {% endif %}</div>
                            </div>
                        {% endif %}
                        {{ form_end(form) }}
                    </div>
            </section>
        </div>
    </main>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $( ".datepicker" ).datepicker({
            yearRange: "1980:2018",
            changeYear: true,
            changeMonth: true,
            dateFormat: "dd-mm-yy"
        });

        $(document).ready(function () {
            $('#form_sending_institutionPerson').change(function() {
                var sendingResponsiblePerson = $(this).val();
                $.ajax({
                    type: "POST",
                    url: "{{ path('learning_agreement_institution_person_ajax') }}",
                    data: { institutionPerson: sendingResponsiblePerson }
                })
                    .done(function (result) {
                        $('#form_sending_position').val(result.position);
                        $('#form_sending_email').val(result.email);
                        $('#form_sending_phoneNumber').val(result.phoneNumber);
                    });
            })
        });
    </script>
{% endblock %}