{% extends 'base.html.twig' %}

{% block content %}
    <main>
        <div class="container">
            <section class="section-top">
                {%  include 'learning-agreements/timeline.html.twig' %}
            </section>
            <section class="section-bottom">
                <h2>Signature as image</h2>
                {#{% include ':form:navigation_form.html.twig' %}#}
                {#{{ form_end(form) }}#}
                <div class="row pt-4 pb-4">
                    <div class="col-12 text-center">
                        <small>PNG or JPEG file of size up to 2MB.</small>
                        {{ form_start(form) }}
                        {{ form_widget(form.signature) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center mt-2">
                        {{ form_label(form.save) }}
                        {{ form_widget(form.save, { 'attr': {'class': 'btn-xl btn-primary dark'} }) }}
                        {{ form_end(form) }}
                    <div class="col-12 text-center mt-2">
                        {% if is_granted('ROLE_STUDENT') %}
                            <a href="{{ path('learning_agreement_commitment', { 'learningAgreement': learningAgreement.id }) }}" class="btn btn-navy">Cancel</a>
                        {% elseif is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('learning_agreement_approval_sending', { 'learningAgreement': learningAgreement.id }) }}" class="btn btn-navy">Cancel</a>
                        {% else %}
                            <a href="{{ path('learning_agreement_approval_receiving', { 'learningAgreement': learningAgreement.id }) }}" class="btn btn-navy">Cancel</a>
                        {% endif %}
                    </div>
                </div>
            </section>
        </div>
    </main>
{% endblock %}