{% extends 'base.html.twig' %}

{% block content %}
    <main>
        <div class="container">
            <section class="section-top">
                {%  include 'learning-agreements/timeline.html.twig' %}
            </section>
            <section class="section-bottom">
                <h2>Signature digital</h2>
                {#{% include ':form:navigation_form.html.twig' %}#}
                {#{{ form_end(form) }}#}
                <div class="row pt-4">
                    <div class="col-12 text-center">
                        <div id="signature-pad" class="signature-pad">
                            <div class="signature-pad--body">
                                <canvas></canvas>
                            </div>
                            <div class="signature-pad--footer">
                                <div class="signature-pad--actions">
                                    <div>
                                        <button type="button" class="button btn btn-navy" data-action="undo"><i class="fas fa-undo"></i> Undo</button>
                                        <button type="button" class="button clear btn btn-navy" data-action="clear">Clear <i class="fas fa-eraser right"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row pt-4">
                    <div class="col-12 text-center">
                        {{ form_start(form) }}
                        {{ form_row(form.signature) }}
                        {{ form_label(form.save) }}
                        {{ form_widget(form.save, { 'attr': {'class': 'btn-xl btn-primary dark'} }) }}
                        {{ form_end(form) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center mt-2">
                        {% if is_granted('ROLE_STUDENT') %}
                        <a href="{{ path('learning_agreement_commitment', { 'learningAgreement': learningAgreement.id }) }}" class="btn btn-navy">Cancel</a>
                        {% elseif is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('learning_agreement_approval_sending', { 'learningAgreement': learningAgreement.id }) }}" class="btn btn-navy">Cancel</a>
                        {% else %}
                        <a href="{{ path('learning_agreement_approval_receiving', { 'learningAgreement': learningAgreement.id }) }}" class="btn btn-navy">Cancel</a>
                        {% endif %}
                    </div>
                </div>
            </section>
        </div>
    </main>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/signature_pad.min.js') }}"></script>
    <script>
        var wrapper = document.getElementById("signature-pad");
        var clearButton = wrapper.querySelector("[data-action=clear]");
        var undoButton = wrapper.querySelector("[data-action=undo]");
        var canvas = wrapper.querySelector("canvas");
        var hiddenSignature = $('#form_signature');
        var signaturePad = new SignaturePad(canvas, {
            onEnd: function () {
                hiddenSignature.val(signaturePad.toDataURL());
            }
        });

        // Adjust canvas coordinate space taking into account pixel ratio,
        // to make it look crisp on mobile devices.
        // This also causes canvas to be cleared.
        function resizeCanvas() {
            // When zoomed out to less than 100%, for some very strange reason,
            // some browsers report devicePixelRatio as less than 1
            // and only part of the canvas is cleared then.
            var ratio =  Math.max(window.devicePixelRatio || 1, 1);

            // This part causes the canvas to be cleared
            canvas.width = canvas.offsetWidth * ratio;
            canvas.height = canvas.offsetHeight * ratio;
            canvas.getContext("2d").scale(ratio, ratio);

            // This library does not listen for canvas changes, so after the canvas is automatically
            // cleared by the browser, SignaturePad#isEmpty might still return false, even though the
            // canvas looks empty, because the internal data of this library wasn't cleared. To make sure
            // that the state of this library is consistent with visual state of the canvas, you
            // have to clear it manually.
            signaturePad.clear();
        }

        // On mobile devices it might make more sense to listen to orientation change,
        // rather than window resize events.
        window.onresize = resizeCanvas;
        resizeCanvas();
        
        clearButton.addEventListener("click", function (event) {
            signaturePad.clear();
            hiddenSignature.val('signature');
        });

        undoButton.addEventListener("click", function (event) {
            var data = signaturePad.toData();

            if (data) {
                data.pop(); // remove the last dot or line
                signaturePad.fromData(data);
            }

            if (signaturePad.isEmpty()) {
                hiddenSignature.val('signature');
            }
        });
        
        // $('#form_save').click(function (e) {
        //     e.preventDefault();
        //     if (hiddenSignature.val('signature')) {
        //         alert('Please provide a signature.')
        //     }
        //     else {
        //         this.submit();
        //     }
        // });

    </script>
{% endblock %}