{% extends 'base.html.twig' %}

{% block content %}
    <main>
        <div class="container">
            <section class="section-top">
                {%  include 'learning-agreements/timeline.html.twig' %}
            </section>
            <section class="section-bottom">
                <h2>Student Info</h2>
                {{ form_start(form) }}
                <div class="row">
                    <div class="col-12 col-md-6">
                    {{ form_row(form.firstName) }}
                    </div>
                    <div class="col-12 col-md-6">
                    {{ form_row(form.lastName) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            {{ form_label(form.dateOfBirth) }}
                            {{ form_errors(form.dateOfBirth) }}
                            {{ form_widget(form.dateOfBirth, { 'attr': {'class': 'datepicker'} }) }}
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        {{ form_row(form.country) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                        {{ form_label(form.sex) }}
                        {{ form_errors(form.sex) }}
                        {{ form_widget(form.sex) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            {{ form_label(form.universityIdNumber) }}
                            {{ form_errors(form.universityIdNumber) }}
                            {{ form_widget(form.universityIdNumber) }}
                            <small class="text-muted">
                                Student's ID number at Universidade Portucalense.
                            </small>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        {{ form_row(form.phoneNumber) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6">
                        {{ form_row(form.studyCycle) }}
                    </div>
                    <div class="col-12 col-md-6">
                        {{ form_row(form.academicYear) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        {{ form_row(form.fieldOfEducation) }}
                    </div>
                </div>
                {% if is_granted('edit', learningAgreement.beforeMobilitySection) %}
                    {% include ':form:navigation_form.html.twig' %}
                {% else %}
                    <div class="row pt-4">
                        <div class="col-12 text-center">
                            <a href="{{ path('learning_agreement_sending_institution', { 'learningAgreement': learningAgreement.id }) }}" class="btn btn-navy">Next</a>
                        </div>
                    </div>
                {% endif %}
                {{ form_end(form) }}
            </section>
        </div>
    </main>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $( ".datepicker" ).datepicker({
            yearRange: "1980:2018",
            changeYear: true,
            changeMonth: true,
            dateFormat: "dd-mm-yy"
        });
    </script>
{% endblock %}