{% set route = app.request.attributes.get('_route') %}
<h1>Learning Agreement</h1>
<h2>Number: {{ learningAgreement.id }} <span class="badge badge-navy">{{ learningAgreement.beforeMobilitySection.status }}</span></h2>
{% if is_granted('ROLE_ADMIN') %} {# LA timeline for staff/teacher #}
<div class="row progress-timeline">
    <div class="col-12 col-md-2 progress-timeline-step {{ route == 'learning_agreement_student_info' ? 'active' }}">
        <a href="{{ path('learning_agreement_student_info', { 'learningAgreement': learningAgreement.id }) }}" class="btn step-number">1</a>
        <p class="step-desc">Student info</p>
    </div>
    <div class="col-12 col-md-2 progress-timeline-step {{ route == 'learning_agreement_sending_institution' ? 'active' }}">
        <a href="{{ path('learning_agreement_sending_institution', { 'learningAgreement': learningAgreement.id }) }}" class="btn step-number">2</a>
        <p class="step-desc">Sending Institution</p>
    </div>
    <div class="col-12 col-md-2 progress-timeline-step {{ route == 'learning_agreement_receiving_institution' ? 'active' }}">
        <a href="{{ path('learning_agreement_receiving_institution', { 'learningAgreement': learningAgreement.id }) }}" class="btn step-number">3</a>
        <p class="step-desc">Receiving Institution</p>
    </div>
    <div class="col-12 col-md-2 progress-timeline-step {{ route starts with 'learning_agreement_mobility_programme' ? 'active' }}">
        <a href="{{ path('learning_agreement_mobility_programme', { 'learningAgreement': learningAgreement.id }) }}" class="btn step-number">4</a>
        <p class="step-desc">Mobility Programme</p>
    </div>
    <div class="col-12 col-md-2 progress-timeline-step {{ route starts with 'learning_agreement_responsible_persons' ? 'active' }}">
        <a href="{{ path('learning_agreement_responsible_persons', { 'learningAgreement': learningAgreement.id }) }}" class="btn step-number">5</a>
        <p class="step-desc">Responsible persons</p>
    </div>
    <div class="col-12 col-md-2 progress-timeline-step {{ route starts with 'learning_agreement_approval' ? 'active' }}">
        <a href="{{ path('learning_agreement_approval_sending', { 'learningAgreement': learningAgreement.id }) }}" class="btn step-number">6</a>
        <p class="step-desc">Approval</p>
    </div>
</div>
{% elseif is_granted('ROLE_RECEIVING_ACCOUNT') %} {# LA timeline for receiving #}
    <div class="row progress-timeline">
        <div class="col-12 col-md-2 progress-timeline-step {{ route == 'learning_agreement_student_info' ? 'active' }}">
            <a href="{{ path('learning_agreement_student_info', { 'learningAgreement': learningAgreement.id }) }}" class="btn step-number">1</a>
            <p class="step-desc">Student info</p>
        </div>
        <div class="col-12 col-md-2 progress-timeline-step {{ route == 'learning_agreement_sending_institution' ? 'active' }}">
            <a href="{{ path('learning_agreement_sending_institution', { 'learningAgreement': learningAgreement.id }) }}" class="btn step-number">2</a>
            <p class="step-desc">Sending Institution</p>
        </div>
        <div class="col-12 col-md-2 progress-timeline-step {{ route == 'learning_agreement_receiving_institution' ? 'active' }}">
            <a href="{{ path('learning_agreement_receiving_institution', { 'learningAgreement': learningAgreement.id }) }}" class="btn step-number">3</a>
            <p class="step-desc">Receiving Institution</p>
        </div>
        <div class="col-12 col-md-2 progress-timeline-step {{ route starts with 'learning_agreement_mobility_programme' ? 'active' }}">
            <a href="{{ path('learning_agreement_mobility_programme', { 'learningAgreement': learningAgreement.id }) }}" class="btn step-number">4</a>
            <p class="step-desc">Mobility Programme</p>
        </div>
        <div class="col-12 col-md-2 progress-timeline-step {{ route starts with 'learning_agreement_responsible_persons' ? 'active' }}">
            <a href="{{ path('learning_agreement_responsible_persons', { 'learningAgreement': learningAgreement.id }) }}" class="btn step-number">5</a>
            <p class="step-desc">Responsible persons</p>
        </div>
        <div class="col-12 col-md-2 progress-timeline-step {{ route starts with 'learning_agreement_approval' ? 'active' }}">
            <a href="{{ path('learning_agreement_approval_receiving', { 'learningAgreement': learningAgreement.id }) }}" class="btn step-number">6</a>
            <p class="step-desc">Approval</p>
        </div>
    </div>
{% else %} {# LA timeline for student #}
<div class="row progress-timeline">
    <div class="col-12 col-md-2 progress-timeline-step {{ route == 'learning_agreement_student_info' ? 'active' }}">
        <a href="{{ path('learning_agreement_student_info', { 'learningAgreement': learningAgreement.id }) }}" class="btn step-number">1</a>
        <p class="step-desc">Student info</p>
    </div>
    <div class="col-12 col-md-2 progress-timeline-step {{ route == 'learning_agreement_sending_institution' ? 'active' }}">
        <a href="{{ path('learning_agreement_sending_institution', { 'learningAgreement': learningAgreement.id }) }}" class="btn step-number">2</a>
        <p class="step-desc">Sending Institution</p>
    </div>
    <div class="col-12 col-md-2 progress-timeline-step {{ route == 'learning_agreement_receiving_institution' ? 'active' }}">
        <a href="{{ path('learning_agreement_receiving_institution', { 'learningAgreement': learningAgreement.id }) }}" class="btn step-number">3</a>
        <p class="step-desc">Receiving Institution</p>
    </div>
    <div class="col-12 col-md-2 progress-timeline-step {{ route starts with 'learning_agreement_mobility_programme' ? 'active' }}">
        <a href="{{ path('learning_agreement_mobility_programme', { 'learningAgreement': learningAgreement.id }) }}" class="btn step-number">4</a>
        <p class="step-desc">Mobility Programme</p>
    </div>
    <div class="col-12 col-md-2 progress-timeline-step {{ route starts with 'learning_agreement_responsible_persons' ? 'active' }}">
        <a href="{{ path('learning_agreement_responsible_persons', { 'learningAgreement': learningAgreement.id }) }}" class="btn step-number">5</a>
        <p class="step-desc">Responsible persons</p>
    </div>
    <div class="col-12 col-md-2 progress-timeline-step {{ route starts with 'learning_agreement_commitment' ? 'active' }}">
        <a href="{{ path('learning_agreement_commitment', { 'learningAgreement': learningAgreement.id }) }}" class="btn step-number">6</a>
        <p class="step-desc">Commitment</p>
    </div>
</div>
{% endif %}