{% extends '@Admin/admin_base.html.twig' %}

{% block content %}
    <main>
        <div class="container">
            <section class="section-heading section-top">
                {% for flash_message in app.session.flashbag.get('warning') %}
                    <div class="alert alert-primary text-center">
                        {{flash_message|raw}}
                    </div>
                {% endfor %}
                {% if institution.id %}
                <h1>Edit Institution</h1>
                <h2><small>{{ institution.name }}</small></h2>
                {% else %}
                <h1>New institution</h1>
                {% endif %}
            </section>
            <section class="section-bottom">
                {{ form_start(form) }}
                {{ form_row(form.name) }}
                {{ form_row(form.country) }}
                {{ form_row(form.address) }}
                {{ form_row(form.erasmusCode) }}
                {{ form_row(form.website) }}
                <div class="row pt-4">
                    <div class="col-12 text-center">
                        {{ form_label(form.save) }}
                        {{ form_widget(form.save, { 'attr': {'class': 'btn-xl btn-primary dark'} }) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center mt-2">
                        <a href="{{ path('admin_institutions') }}" class="btn btn-navy">Cancel</a>
                    </div>
                </div>
                {{ form_end(form) }}
            </section>
        </div>
    </main>
{% endblock %}