{% extends '@Admin/admin_base.html.twig' %}

{% block content %}
    <main>
        <div class="container">
            <section class="section-heading section-top">
                {% for flash_message in app.session.flashbag.get('warning') %}
                    <div class="alert alert-primary text-center">
                        {{flash_message|raw}}
                    </div>
                {% endfor %}
                <h1>Institutions</h1>
                <a class="btn btn-primary" href="{{ path('admin_institutions_new') }}"><i class="fas fa-plus-circle"></i> New institution</a>
            </section>
            <section class="section-bottom">
                <div class="learning-agreements table-list row">
                    <div class="table-responsive col-12">
                        <table class="table table-hover mx-auto text-center">
                            <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Name</th>
                                <th scope="col">Address</th>
                                <th scope="col">Erasmus Code</th>
                                <th scope="col">Website</th>
                                <th scope="col">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for institution in institutions %}
                            <tr>
                                <td>{{ institution.id }}</td>
                                <td>{{ institution.name }}</td>
                                <td>{{ institution.address }}</td>
                                <td>{{ institution.erasmusCode }}</td>
                                <td>{{ institution.website }}</td>
                                <td>
                                    <a href="{{ path('admin_institutions_edit', {'institution' : institution.id}) }}">Edit</a>
                                    <a href="{{ path('admin_institutions_delete', {'institution' : institution.id}) }}">Remove</a>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </main>
{% endblock %}